body {
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    margin: 20px;

    
    .container{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 2fr 3fr;
        background: #ffffff;
        grid-gap: 5px;
     

        .img-container {
            background: rgb(245,245,245);
            grid-column: 1/2;
            grid-row: 1/2;

            .img {
                margin: auto;
                padding-top: 2%;
                padding-bottom: 2%;
                flex-basis: 40%; 
                display: block;
            }
        }

        .models-container {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            
            .models-col {
                height: 20px;
                padding: 5px 0 5px 5px;
                margin: 5px 0;
                background: rgb(228,228,228);
            }
        }

        .years-container {
            display: flex;

            .years-col {
             background: rgb(228,228,228);
             width: 30px;
             height: 100%;
             margin: 0 5px;
             display: flex;
             flex-direction: column;
             justify-content: flex-end;

                span {
                    transform: rotate(-90deg);
                    margin-bottom: 15px;
                    font-weight: bold;
                }
            }
        }
            
        .vehicule-coverage-container {
            .vehicule-coverage{
                cursor: pointer;
                display: flex;
                
                div {
                    flex-basis: 30px; 
                    height: 30px; 
                    margin: 5px;
                    background: rgb(228,228,228);
                }
    
                .coverage {
                    background: rgb(0 112 189); 
                }
            }
        }
    }
}
